$color-title: #035755;
$color-subtitle: #4B4F51;
$color-primary: #FA5652;
$color-secondary: #FB4C47;
$color-border: #FF383D;
$color-icons: #F44A45;
$color-inactive-icons: #A2A5B2;
$color-green-icons: #128E5A;
$color-map-icons: #687089;
$color-subscription: #0C6C44;

$content-width: 1442px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;