.overview {
  background: url(../images/illustration2.svg)  0% 50% no-repeat;

}

.overview__wrapper {
  margin-right: 240px;
  max-width: 630px;
  padding-top: 105px;
  padding-bottom: 190px;
}

.overview__pretitle {
  padding-bottom: 27px;
}

.overview__title {
  padding-bottom: 45px;
}

.overview__text {
  padding-bottom: 50px;
}
