.promo {
  background: url(../images/illustration.svg)  right no-repeat;
  background-size: 55.2%;
}
.promo__pretitle {
  padding-bottom: 33px;
}

.promo__title {
  padding-bottom: 45px;
}

.promo__intro {
  padding: 270px 0 205px;
  max-width: 625px;
}

.promo__text {
  padding-bottom: 60px;
}


