.promo {
  background: url(../images/illustration.svg)  right no-repeat;
  background-size: 55.2%;
}

.promo__intro {
  padding: 270px 0 205px;
  max-width: 625px;
}

.promo__text {
  padding-bottom: 60px;
}

.promo__title {
  margin: 0;
}

.promo__pretitle {
  margin: 0;
}