.statistic {
    max-width: 980px;
}

.reports__top {
    display: flex;
    justify-content: space-between;
}

.statistic__country-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistic__live-report {
    border: none;
    padding: 60px;
    background: $color-light;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.statistic__title {
    margin-right: 50px;
}

.statistic__live-nav {
    display: flex;
    background: $color-light;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.statistic__button {
    border: none;
    background: $color-light;
    padding: 15px;
}

.statistic__slash {
    color: gray;
}

.statistic__live-report-inner {
    display: flex;
    justify-content: space-between;
}

.statistic__map-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.statistic__country-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistic__amount-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistic__country-item {
    padding-top: 40px;
}

.statistic__flag {
    margin-right: 25px;
}

.statistic__amount {
    margin-right: 22px;

    font-size: 22px;
}