html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    font-family: 'Gelion', serif;
    //font-family: 'Red Hat Display', sans-serif;
}

h1 {}



.wrapper {
    max-width: $content-width;
    margin: 0 auto;
}
