html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    font-family: 'Almendra', san-serif;
    // font-family: 'Red Hat Display', sans-serif;
    background-color: $color-background;
    max-width: 1920px;
}

h1 {
    font-family: 'Red Hat Display', san-serif;
    @include font(5.2rem, 139%, $color-title)
}

h2 {
    font-family: 'Red Hat Display', san-serif;
    @include font(5rem, 119%, $color-title)
}

h3 {
    font-family: 'Red Hat Display', san-serif;
    @include font(3.2rem, 122%, $color-primary)
}

h4 {
    font-family: 'Red Hat Display', san-serif;
    @include font(2.9rem, 124%, $color-primary)
}

h6 {
    font-family: 'Red Hat Display', san-serif;
    @include font(2.2rem, 124%, $color-primary)
}

p {
    font-family: 'Almendra', san-serif;
    @include font(1.8rem, 230%, normal, $color-subtitle)
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.pretitle {
    padding-bottom: 30px;
}

.title {
    padding-bottom: 45px;
}

.entry {
    text-align: center;
}